extends layout

block additional-css
  link(rel="stylesheet", href="/css/detail-car.css")

block body
  #detail-car
    #main-carousel(index='0')
      .big-one
        img(src=carImages[0].url, alt=carImages[0].title)
        .main-photo-title
          p= carImages[0].title
        .dot-dots
          each img, index in carImages
            .dot(class= (index === 0) ? 'active' : '', title= img.title, url= img.url)
        .arrow.right
          .the-arrow
            i.fas.fa-angle-right
        .arrow.left
          .the-arrow
            i.fas.fa-angle-left
    h1 Toyota Calya 2015 Kondisi Gress
    span.date-added
      i.fas.fa-calendar
      | Diposting tanggal 2018-01-30
    #car-data
      .quick-detail
        h3 Detail Singkat
        .detail
          img(src="/img/icons/car-year-blue.png", alt="icon-calendar")
          span Tahun
          span.data 2015
        .detail
          img(src="/img/icons/car-brand-blue.png", alt="icon-brand")
          span Merek
          span.data Toyota
        .detail
          img(src="/img/icons/car-type-blue.png", alt="icon-car-type")
          span Tipe
          span.data MPV
        .detail
          img(src="/img/icons/car-distance-blue.png", alt="icon-distance")
          span Jarak
          span.data 13.800 km
        .detail
          img(src="/img/icons/car-transmission-blue.png", alt="icon-transmission")
          span Transmisi
          span.data Automatic
        .detail
          img(src="/img/icons/car-fuel-blue.png", alt="icon-transmission")
          span Bahan Bakar
          span.data Bensin
        .detail
          img(src="/img/icons/car-color-blue.png", alt="icon-transmission")
          span Warna
          span.data Merah
        .detail
          img(src="/img/icons/car-price-blue.png", alt="icon-price")
          span Harga
          span.data Rp. 120.000.000,-
      .benefits
        h3 Aksesoris Mobil
        .benefits-container
          each benefit in carBenefits
            .benefit
              i.fas.fa-plus
              p= benefit
      .description
        h3 Deskripsi Mobil
        each _p in carDesc.split('\n')
          p= _p
    #price-car
      .custom-loading
        .lds-ellipsis
          div
          div
          div
          div
      .cara-pesan
        p Cara Pesan
      .the-price
        img(src="/img/icons/car-price-white.png", alt="car-price-icon-white")
        p Rp. 120.000.000,-
        i.fas.fa-times
      p.simulation-title Simulasi Cicilan Mobil Ini
      p.credit-offerer Tersedia 3 penyedia jasa kredit untuk mobil ini
      #credit-sim
        .group
          p.title Penyedia Credit
          select#sim-company
            option(value="0") Adira
            option(value="1") MCF
            option(value="2") BCA Finance
        .group
          p.title DP
            i (min. 25jt)
          input#sim-dp(type="number" value="15000000")
        .group
          p.title Jumlah Angsuran
          select#sim-count
            option(value="6") 6 Bulan
            option(value="12") 1 Tahun
            option(value="18") 1,5 Tahun
            option(value="24") 2 Tahun
            option(value="30") 2,5 Tahun
            option(value="36") 3 Tahun
            option(value="42") 3,5 Tahun
            option(value="48") 4 Tahun
            option(value="54") 5,5 Tahun
            option(value="60") 5 Tahun
        .group
          p.title Angsuran Perbulan
          p#sim-monthly Rp. 3.521.000,-
      .penyedia-angsuran
        p Penyedia jasa kredit
        .company
          img(src="/dummy/logo-adira.png", alt="logo-adira", title='Adira Credit Finance')
        .company
          img(src="/dummy/logo-mega.jpeg", alt="logo-mega", title='Mega Credit Finance')
        .company
          img(src="/dummy/logo-bca.png", alt="logo-bca", title='BCA Credit Finance')
      .call-us
        p Hubungi kami untuk pemesanan, jadwal kunjungan, atau pertanyaan lainnya
        a.whatsapp-btn(href="https://wa.me/628176921531", target="_blank")
          i.fab.fa-whatsapp
          p WhatsApp
  include footer
block additional-script
  script(src="/js/detail-car.js")